<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.QnaMapper">

	<sql id="qnaColumns">
		 category
		 ,question_title
		 ,question_content
		 ,open_yn
		 ,views
		 ,like_count
		 ,created_email
	</sql>

	<insert id="insert" parameterType="com.model.QnaDto" useGeneratedKeys="true" keyProperty="qnaId">
		INSERT INTO QNA (
			<include refid="qnaColumns" />
		) VALUES (
			#{category}
			, #{title}
			, #{content}
			, #{openYn}
			, 0
			, 0
			, #{email}
		)
	</insert>
	<select id="select" resultType="com.model.QnaDto">
		SELECT 
			A.*
			,B.like_id
		FROM 
			QNA A
			LEFT JOIN POPULAR B ON A.QNA_ID = B.CONTENTS_ID AND B.CONTENT_TYPE='qna' AND B.LIKED_USER_EMAIL = #{email}
		WHERE A.QNA_ID = #{qnaId}
	</select>
	<select id="getMaxId" resultType="int">
		SELECT MAX(QNA_ID) FROM QNA WHERE delete_yn!='Y'
	</select>
	<select id="confirmCreate" resultType="int">
		SELECT COUNT(*) FROM QNA WHERE created_email=#{email} AND QNA_ID=#{qnaId} 
	</select>
	<select id="getList" resultType="com.model.QnaDto">
		SELECT 
			A.*
			, (SELECT COUNT(qna_id) FROM COMMENT WHERE qna_id = A.qna_id and delete_yn !='Y') as comment_cnt
			, C.name
			, C.avatarUrl 
		FROM 
			QNA A
		 	LEFT JOIN USER C ON C.EMAIL = A.CREATED_EMAIL
		WHERE A.delete_yn!='Y'
	</select>
	<select id="getCount" resultType="com.model.QnaDto">
		SELECT COUNT(*) FROM QNA
	</select>
	<update id="update" parameterType="com.model.QnaDto">
		UPDATE QNA SET
			category = #{category}
			,question_title = #{title}
			,question_content = #{content}
		WHERE QNA_ID = #{qnaId}
	</update>
	
	<update id="updateViews" parameterType="com.model.QnaDto">
		UPDATE QNA SET
			views = IFNULL(views,0)+1
		WHERE QNA_ID = #{qnaId}
	</update>
	
	<update id="updateLikeCount" parameterType="com.model.QnaDto">
		UPDATE QNA SET
			like_count = IFNULL(like_count,0) + #{likeCount}
		WHERE QNA_ID = #{qnaId}
	</update>
	
	<update id="answer" parameterType="com.model.QnaDto">
		UPDATE QNA SET
			answer_title = #{answerTitle}
			,answer_content = #{answerContent}
			,answer_date = now()
		WHERE QNA_ID = #{qnaId}
	</update>
	<update id="delete" parameterType="com.model.QnaDto">
		UPDATE QNA SET
			delete_yn = 'Y'
		WHERE QNA_ID = #{qnaId}
	</update>
	
</mapper>